<header class="bg-ocean-dark p-4 shadow-lg text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a
      routerLink="/dashboard"
      class="text-3xl font-bold text-ocean-light hover:text-white transition-colors"
      >Navi</a
    >

    <nav>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/pdi"
            class="text-white hover:text-ocean-light transition-colors"
            >PDI</a
          >
        </li>
        <li>
          <a
            routerLink="/habilidades"
            class="text-white hover:text-ocean-light transition-colors"
            >Habilidades</a
          >
        </li>
        <li>
          <a
            routerLink="/planos"
            class="text-white hover:text-ocean-light transition-colors"
            >Planos de Estudo</a
          >
        </li>
        <li>
          <a
            routerLink="/pesquisa"
            class="text-white hover:text-ocean-light transition-colors"
            >Pesquisar</a
          >
        </li>
        <li>
          <a
            routerLink="/perfil"
            class="text-white hover:text-ocean-light transition-colors"
            >Perfil</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
